body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    background-image: url(wrc.jpg);
    background-size: cover;
}
.buttonup {
    width:88px; 
    height:118px;
    position:fixed;
    bottom:28px;
    right:28px;
    opacity: 0.01;
    }




.text-up{
    font-size: 5ex;
    font-family: 'Goldman', cursive;
}
.position-text-up{
    display: flex;
    justify-content: flex-start;
    background-color:#292931;
    border-bottom: 2px solid red;
    height: 35px;
    
    z-index: 12;
}



nav {
    width: 100%;
    text-align: center;
    margin: 0 auto 30px;
    font-size: 25px;  
  }
  ul {
    list-style: none; 
    margin: 0;
    padding: 0;
  }
  .topmenu > li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
  }
  .topmenu > li:last-child {
    margin-right: 0;
  }
  .ebnaja-A{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    outline: none;
    font-family: 'Goldman', cursive;
    transition: .5s linear;
  }
  .fa {
    
    color: inherit;
    padding-left: 10px;
  }
  .submenu {
    font-size: 20px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .one ul {
    background: #222229;
  }
  .one ul a {
    color: #ffffff;
  }
  .one .submenu {
    border:3px solid #18181b;
    display: none;
    background: #11111f;
  }
  .one ul li:hover .submenu {
    display: block;
  } 
  .block-border{
    border:3px dotted#11111f; 
  }
  






.center-div{
    display: flex;
    justify-content: center;
    z-index: 13;
}
.yellow{
   /* background-color: rgb(124, 115, 84);*/
   border: 4px groove white ;
   background-color: #707083 ;
    width: 900px;
    align-self: flex-start;
}
.heading{
    text-align: center;
    font-size: 30px;
    border-bottom: 2px solid rgb(102, 90, 90) ;
}
.down-heading{
text-align: center;
border-bottom: 2px dotted rgb(102, 90, 90) ;


}
.text-history{
    
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.line-down{
  border-top: 3px solid white;
  text-align: center;
  font-size: 50px;
  background-color: #292931;
}
.line-down-block{
  text-align: center;
  font-size: 50px;
}